@media(max-width:1600px){
  .reach{
    &.plant{
      .content{
        margin-left: 190px;
        margin-right: 36px;
        .contacts{
          h1{
            left: -100px;
          }
        }
        .block{
          >img{
            max-width: 100%;
          }
          .row{
            
          }
        }
      }
      .geography + .content{
        margin-left: 120px;
      }
    }
  } 
}
@media(max-width:1500px){
  .header{
    .center{
      width: 768px;
      .lang{
        margin-left: 80px;
      }
      .search{
        margin-left: 50px;
        width: 200px;
      }
      
    }
  } 
}
@media(max-width: 1400px){
  .header{
    .center{
      margin-left: 253px;
      a.lang{
        margin: 0 20px;
      }
      a.search{
        width: 160px;
        margin: 0 20px;
      }
    }
  }
  .breadcrumbs .content{
    margin-left: 40px;
    width: auto;
  }
  .reach_header{
    align-items: flex-start;
    height: 315px;
    .content{
      margin:0 40px;
      width: auto;
      h1{
        font-size: 42px;
        margin-bottom: 15px;
      }
    }
    ul{
      width: 90%;
      margin: 0 auto;
      li{
        padding: 0 20px;
        text-align: center;
        a{
          font-size: 16px;
        }
      }
      li:first-child {
        padding-left: 40px;
      }
      li:last-child {
        padding-right: 40px;
      }
    }
  }
  .scientific_activity {
    .block {
      ul.navigation{
        width: 200px;
        min-width: 200px;
      }
      .content {
        flex-basis: 70%;
      }
    }
    >.content{
      margin: 0 40px;
      width: auto;
      .ideas{
        margin-left: 100px;
      }
      .new{
        margin: 0 80px;
        width: auto;
      }
      >img{
        top: 320px;
        margin-right: 100px;
      }
      h1{
        font-size: 140px;
      }
    }
    &.technical_centers{
      .content{
        .sotrud{
          top: 170px;
        }
        h2{
          width: 100%;
        }
        h3{
          width: 100%;
          left: 80px;
          top: 40px;
        }
        .inf_block{
          margin-top: 0;
        }
        .user{
          width: 100%;
        }
      }
    }
  }
  .env_respons {
    > .content .row .col{
      padding: 0 15px;
      p{
        font-size: 15px;
      }
      h2{
        font-size: 32px;
      }
      
    }
    .env_slider .content{
      width: auto;
      margin: 0 40px;
      h2{
        font-size: 34px;
      }
      .items{
        .item{
          p{
            width: 600px;
          }
        }
      }
    }
  }
  .reach {
    .content{
      h1{
        font-size: 308px;
        left: -30px;
      }
      .section + .section{
        h1{
          font-size: 400px;
        }
        h2{
          font-size: 34px;
        }
      }
      margin: 0 40px;
      width: auto;
      .section .row a.col{
        height: 140px;
      }
    }
    &.about{
      .content{
        .block{
          .year{
            height: 150px;
            img{
              height: 100px;
            }
          }
          h3{
            font-size: 20px;
          }
        }
      }
      .main_zavod{
        .content{
          height: 450px;
          h3{
            font-size: 38px;
          }
          h1{
            font-size: 153px;
          }
          .row{
            .col{
              width: 230px;
              height: 230px;
            }
          }
          margin: 0 40px;
        width: auto;
        }
      }
      .mission{
        .content{
          .item{
            h2{
              font-size: 34px;
            }
          }
        }
      }
      .numbers{
        h2{
          font-size: 38px;
        }
      }
    }
    &.vacancy{
      .content{
        .section{
          padding: 20px 0;
          img{
            left: 0;
          }
          p{
            padding-left: 250px;
            font-size: 18px;
          }
        }
        h2{
          font-size: 34px;
        }
      }
    }
    &.history{
      .content{
        .section{
          h4{
            font-size: 20px;
          }
          h2{
            font-size: 58px;
          }
          div.right{
            flex-basis: 100%;
          }
        }
      }
    }
    &.sertificate {
      .content {
        h2{
          font-size: 34px;
        }
        .prizes {
          .item {
            p{
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
  .scientific_article{
    margin-top: 100px;
    .block{
      ul.navigation{
        width: 200px;
        min-width: 200px;
      }
      .content{
        width: auto;
        margin: 0 40px;
        margin-left: auto;
        flex-basis: 70%;
        .items a.item p{
          font-size: 19px;
          &.date{
            margin-top: 10px;
          }
        }
      }
    }
  }
  .news_detail{
    .content{
      width: auto;
      margin: 0 40px;
      h1{
        font-size: 42px;
      }
      h2{
        font-size: 34px;
      }
      .list{
        a.item {
          p{
            font-size: 20px;
          }
        }
      }
    }
  }
  .stable_develop{
    .content{
      width: auto;
      margin: 0 40px;
      padding: 40px;
      .rounds{
        .item{
          h1{
            left:30%;
          }
          &:first-child{
            h1{
              left: 50%;
            }
          }
          &:last-child{
            h1{
              left: 70%;
            }
          }
        }
      }
    }
    .documents{
      .content{
        width: auto;
        margin:  40px;
      }
    }
    .garant{
      .content{
        width: auto;
        margin: 0 40px;
        h1{
          font-size: 140px;
          &.two{
            transform: translate(-21%,0);
          }
        }
        
      }
    }
  }
  .catalog .content{
    margin:0 40px;
    width: auto;
    .sidebar{
      min-width: 290px;
    }
    .main{
      flex-basis: auto;
      .region label{
        padding-right: 15px;
      }
      
    }
  }
  .training_center{
    .content{
      width: auto;
      margin: 0 40px;
    }
  }
  .object_header {
    .content{
      width: auto;
      margin-left: 40px;
      margin-right: 40px;
      h1{
        font-size: 42px;
      }
    }
  }
  .search_page{
    .content{
      width: auto;
      margin: 0 40px;
      h1{
        font-size: 44px;
      }
    }
  }
  .objects .content{
    width: auto;
    margin: 0 40px;
    h1{
      font-size: 42px;
    }
    .items{
      a.item{
        height: 310px;
        h3{
          font-size: 20px;
        }
      }
    }
  }
  .object_detail {
    padding-top: 630px;
    .content{
      margin: 0 40px;
      width: auto;
      .items a.item{
        height: 310px;
        h3{
          font-size: 20px;
        }
      }
    }
  }
  .catalog_detail .content{
    margin: 0 40px;
    width: auto;
  }
  .news_page{
    .content{
      width: auto;
      margin: 0 40px;
      h1{
        font-size: 42px;
      }
      .type_content .col p{
        font-size: 20px;
      }
      .block {
        .object .list {
          margin-top: 30px;
          a.item {
            width: ~"calc(33% - 10px)";
            margin-top: 0px;
            margin-right: 10px;
            margin-bottom: 10px;
            p{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .contacts{
    .content{
      margin-left: 40px;
      width: auto;
      h1{
        font-size: 42px;
      }
    }
    >.row{
      >.col{
        padding: 40px;
        div{
          h2{
            font-size: 20px;
          }
          .row {
            .col{
              flex-basis: 48%;
            }
          }
        }
      }
    }
    .map_zavods{
      .content{
        margin: 0;
        ul{
          li{
            font-size: 16px;
            &:last-child{
              flex-basis: 155px;
              padding-top: 30px;
            }
          }
        }
      }
      +.content{
        .user_list{
          flex-wrap: nowrap;
          .item{
            width: auto;
          }
        }
        .social_block{
          width: auto;
          h3{
            flex-basis: 35%;
          }
          a{
            padding: 0 20px;
          }
        }
        h1{
          font-size: 34px;
        }
      }
    }
  }
  .product_catalog{
    .content{
      width: auto;
      margin: 0 40px;
    }
    .slider {
          .item {
            .content {
              margin: 0 40px;
              margin-right: 100px;
              width: auto;
              .row {
                .col{
                  &.white{
                    h3{
                      flex-basis: 34%;
                    }
                    p.small{
                      flex-basis: 43%;
                      font-size: 13px;
                      line-height: 18px;
                    }
                  }
                }
                a.col {
                  
                  p{
                    font-size: 20px;
                    &.num{
                      font-size: 20px;
                    }
                  }
                }
              }
            }
        }
      }
  }
  .training{
    .content{
      &.record{
        margin-left: 200px;
      }
      &.materials{
        margin-left: 200px;
        .items .item{
          margin-right: 22px;
          width: 250px;
          .img{
            height: 140px;
            a.play{
              color: transparent;
              width: 60px;
              height: 60px;
              &:after{
                position: absolute;
              }
            }
          }
          p{
            font-size: 20px;
          }
        }
      }
      &.courses{
        margin-left: 200px;
        .row .left h2{
          font-size: 20px;
        }
      }
      &.about{
        max-width: ~'calc(100% - 200px)';
        margin-left: 200px;
        .block{
          padding: 0;
          .right{
            p{
              font-size: 16px;
            }
          }
          .left{
            flex-basis: 40%;
            padding-top: 35px;
            p{
              font-size: 11px;
            }
          }
        }
        .gray .items {
          padding: 0;
          .item {
            h1{
            font-size: 172px;
          }
          p{
            font-size: 18px;
          }
        }
        }
        .methods .block_r {
          .left{
            min-width: 175px;
            width: 175px;
            flex-basis: 175px;
          }
          .right {
            h2{
              font-size: 34px;
              width: ~"calc(33.33% + 175px - 60px)";
              transform: translate(-175px, 0)
            }
          }
        }
        .offer .row {
          h2{
            font-size: 34px;
          }
          h3{
            font-size: 18px;
            line-height: 21px;
          }
          p{
            line-height: 21px;
            padding-bottom: 20px;
          }
        }
        .form{
          padding: 20px;
          .bg-gray{
            width: 80%;
          }
        }
      }
    }
    ul.navigation{
      width: 150px;
      min-width: 150px;
    }
  }
  .main_slider{
    .block .item .section{
      &.two{
        .content{
          width: 70%;
          h2{
            left: -18%;
            font-size: 42px;
          }
          a.plus{
            left: -18%;
          }
        }
      }
      &.three{
        .content{
          margin-right: 40px;
          width: auto;
          h2{
            font-size: 42px;
          }
          padding-left: 58px;
          margin-left: 190px;
          >p{
            font-size: 20px;
          }
          .row{
            padding-left: 140px;
            margin-top: 270px;
          }
        }
      }
      &.four .slider .item .content{
        left: 200px;
        transform: none;
        h2{
          font-size: 42px;
        }
      }
      &.five{
        .content{
          width: auto;
          margin-left: 200px;
          .left{
            width: 40%;
            h2{
              font-size: 42px;
            }
          }
          .row_lr{
            display: flex;
          }
          .row{
            .col{
              height: 100%;
              width: 23%;
              flex-basis: 23%;
              justify-content: flex-start;
              p{
                font-size: 20px;
              }
            }
          }
        }
      }
      &.six .content{
        width: ~"calc(100% - 200px)";
        margin-left: 100px;
        padding-left: 100px;
        h2{
          font-size: 42px;
        }
        .container {
          width: ~"calc(100% - 200px)";
          right: 0;
          .slider {
            width: ~"calc(100% - 200px)";
            margin-right: 100px;
            a.item p{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 1300px){
  .header{
    .center{
      a.search{
        width: 30px;
        margin: 0 20px;
        input{
          display: none;
        }
      }
    }
  }
  .footer{
    position: relative;
    .left{
      width: 70%;
      p.registr{
        width: auto;
        white-space: normal;
      }
    }
    .right{
      width: 650px;
      position: absolute;
      height: 60%;
      top: 33%;
      right: 50px;
    }
  }
  .reach{
    &.plant{
      .content{
        .block{
          .row{
            .col{
              margin: 0 50px;
            }
          }
        }
      }
    }
  }
  .stable_develop{
    .content{
      .rounds{
          .round_4{
            .round_3,.round_2,.round_1{
              width: ~"calc(100% - 180px)";
              height: ~"calc(100% - 180px)";
          }
          }
      }
    }
  }
  .main_slider{
    .block .item .section{
      &.three{
        .content{
          a.plus{
            transform: translate(13%, 0);
          }
        }
      }
    }
  }
}
@media(max-width: 1200px){
  .header{
    .center{
      width: 350px;
      a.catalog{
        width: 100px;
        text-align: center;
      }
    }
  }
  .training_center{
    .content{
      .form{
        padding-left: 0;
        padding-right: 0;
        .bg-gray{
          width: 80%;
        }
      }
    }
  }
  .search_page{
    .content{
      width: auto;
      margin: 0 40px;
      h1{
        font-size: 44px;
      }
      .search_area{
        input{
          width: 85%;
          font-size: 20px;
        }
        a.search{
          width: 15%;
        }
      }
    }
  }
  .reach{
    &.plant{
      .content{
        .block{
          .row{
            .col{
              padding: 60px 50px 20px 60px;
              img{
                max-width: 230px;
              }
            }
          }
        }
      }
    }
    &.sertificate {
      .content {
        .prizes {
          .item {
            p{
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  .stable_develop{
    .content{
      padding: 0;
      .rounds{
        .round_4{
          .round_3,.round_2,.round_1{
            width: ~"calc(100% - 160px)";
            height: ~"calc(100% - 160px)";
          }
        }
      }
    }
  }
  .scientific_activity {
    .block .content h4{
      font-size: 20px;
    }
    >.content{
      .ideas{
        margin-left: 40px;
      }
      >img{
        margin-right: 40px;
      }
      h1{
        font-size: 120px;
      }
      .new h2{
        font-size: 34px;
      }
      h2{
        font-size: 34px;
      }
    }
  }
  .catalog .content{
    .main {
      .items .item{
        min-height: 150px;
        height: auto;
        h2{
          font-size: 24px;
        }
        .data{
          width: 240px;
          .form{
            width: 100px;
          }
        }
      }
      h2{
        font-size: 34px;
      }
    }
  }
  .catalog_detail .content{
    >.item h1{
      font-size: 42px;
    }
    .other_products {
      h3{
        font-size: 32px;
      }
      .item h2{
        font-size: 24px;
      }
    }
    .form{
      .row{
        h2{
          font-size: 32px;
        }
      }
      padding-left: 0;
      padding-right: 0;
      .bg-gray{
        width: 80%;
      }
    }
  }
  .main_slider {
    .block .item .section{
      &.slider_one {
      
        .slide h1{
          font-size: 42px;
          margin-right: 50px;
        }
        .slick-dots{
          margin-left: 0;
          left:190px;
        }
        p.num_o{
          margin-left: 0;
          left: 190px;
        }
        .left_ar{
          margin-left: 0;
          left: 295px;
        }
        .right_ar{
          margin-left: 0;
          left: 350px;
        }
        .content{
          margin-left: 190px;
          width: 700px;
        }
      }
      &.two {
        .content{
          width: 60%;
          h2{
            left: -40%;
          }
          a.plus{
            left: -40%;
          }
          ul {
            width: 70px;
            li{
              color: white;
            }
          }
          .industry_slider .item span{
            margin-right: 150px;
          }
        }
        
        h2{
        
        }
      }
    }
    
  }
}
@media(max-width:1100px){
  .stable_develop{
    .content{
      .rounds{
        .round_4{
          img{
            height: 273px;
          }
          .round_3,.round_2,.round_1{
            width: ~"calc(100% - 140px)";
            height: ~"calc(100% - 140px)";
          }
        }
      }
    }
  }
  .main_slider {
    .block .item .section.slider_one {
      .content{
        width: auto;
      }
    }
  }
}
@media(max-width:1024px){
  .header{
    .center{
      width: 300px;
      a.catalog{
        width: 70px;
        text-align: center;
      }
    }
  }
  .reach{
    &.plant{
      .content{
        h2{
          font-size: 34px;
        }
        .block{
          .row{
            .col{
              p{
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  } 
}
@media(max-width:990px){
  .header .right >div{
    margin-right: 20px;
    flex-direction: column;
    .phone{
      &:after{
        display: none;
      }
      margin-bottom: 10px;
    }
    .sity{
      margin-right: 0;
    }
  }
  .footer{
    .right{
      width: 500px;
      ul{
        padding-left: 10px;
      }
    }
  }
}
@media(max-width:950px){
  .main_slider .block .item .section{
    &.slider_one {
      .content{
        width: ~'calc(100% - 80px)';
        margin: auto 40px;
        .sidebar{
          left: auto;
          right: 0;
        }
      }
      .slick-dots{
        left:40px;
      }
      p.num_o{
        left: 40px;
      }
      .left_ar{
        left: 145px;
      }
      .right_ar{
        left: 200px;
      }
    }
    &.two{
      .content{
        width: 70%;
      }
    }
    &.three{
      .content{
        width: ~"calc(100% - 120px)";
        margin: auto 40px;
        h3{
          position: unset;
          margin-top: 240px;
        }
        .row{
          margin-top: 0;
          padding: 0;
        }
      }
    }
    &.four{
      .slider .item .content{
        left: 0px;
        width: ~'calc(100% - 80px)';
        margin: auto 40px;
      }
    }
    &.five{
      .content{
        height: 87%;
        margin-left: 40px;
        .line{
          display: none;
        }
        .row_lr{
          flex-direction: column;
          .left{
            width: 100%;
            h2{
              margin-bottom: 0;
            }
          }
          .right{
            width: 100%;
            padding-left: 0;
            p{
              margin-top: 0;
            }
          }
        }
        .row{
          margin-top: 50px;
          flex-wrap: wrap;
          .col{
            width: 48%;
            flex-basis: 48%;
            img{
              width: auto;
              height: 100px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &.six{
      .content{
        width: ~'calc(100% - 80px)';
        margin: auto 40px;
        padding-left: 0;
        a.plus{
          transform: none;
          top: 0;
        }
        h2{
        
        }
        .container{
          width: 100%;
            .slider{
              width: 100%;
            }
        }
      }
    }
  }
  .over_line.five{
    display: none;
  }
}
@media(max-width:850px){
  .header {
    .right >div{
      display: none;
     }
     .center{
       justify-content: space-around;
       width: auto;
       margin-right: 175px;
     }
  }
  .footer{
    padding-left: 20px;
    padding-right: 20px;
    .right{
      display: none;
    }
    .left{
      width: 100%;
      p{
        flex-wrap: wrap;
        a.phone{
          padding-right: 0;
        }
      }
    }
  }
}
@media(max-width:768px){
  .header {
     .center{
       a.lang{
         display: none;
       }
     }
  }
  .main_slider .block .item .section{
    &.slider_one .content .sidebar{
      display: none;
    }
    &.three .content .row {
      margin-top: 30px;
      .col img{
        display: none;
      }
    }
  }
}

@media(max-width:650px){
  .header {
    .center{
      a.search{
        display: none;
      }
    }
 }
  .main_slider .block .item .section{
    &.slider_one{
      .slide h1{
        font-size: 32px;
        margin-right: 0;
      }
    }
    &.two{
      .content {
        padding-top: 110px;
        bottom: auto;
        top: 0;
        height: ~'calc(100% - 110px)';
        width: ~'calc(100% - 40px)';
        margin: auto 20px;
        .industry_slider{
          height: 60%;
          .item {
            span{
              display: none;
            }
            img{
              height: 100%;
            }
          }
          .slick-list{
            height: 100%;
          }
        }
        .controls{
          display: flex;
        }
        a.plus{
          left: 0;
          top: auto;
          bottom: 6px;
        }
        .list_two{
          position: unset;
          padding: 0;
          width: 100%;
          margin-top: 30px;
          height: auto;
          li{
            &:hover{
              background-color: transparent;
            }
            display: none;
            &.active{
              background-color: transparent;
              display: block;
              &:hover{
                background-color: transparent;
              }
              border-bottom: 0;
              a{
                color: black;
                font-size: 32px;
                line-height: 43px;
                .svg{
                  background-color: rgba(0,0,0,.5);
                  position: absolute;
                  top: 130px;
                  right:0px;
                  width: 70px;
                  height: 70px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg{
                    margin-right: 0;
                  }
                }
              }
            }
            
          }
        }
        h2{
          display: none;
        }
      }
    }
    &.three{
      .content h2{
        font-size: 32px;
      }
    }
    &.four{
      .slider .item .content h2{
        font-size: 32px;
      }
    }
    &.five{
      .content {
        .row_lr .left  h2{
          font-size: 32px;
        }
        .row{
          display: none;
        }
      }
    }
    &.six{
      .content h2{
        font-size: 32px;
      }
    }
  }
}
@media(max-width:550px){
  .header {
    .center {
      display: none;
    }
    .right{
      display: none;
    }
    .left{
      width: 100%;
      a.logo{
        flex-basis: 90%;
      }
    }
  }
  .over_line{
    display: none;
  }
  .main_slider .block .item .section{
    &.three{
      .content{
        top: 20%;
        >p{
          top: 120px;
          font-size: 17px;
          line-height: 24px;
        }
        h3{
          margin-top: 135px;
        }
        .row{
          flex-wrap: wrap;
          justify-content: flex-start;
          margin-top: 20px;
          .col{
            flex-basis: auto;
            align-items: flex-start;
            &:before{
              display: none;
            }
            &:first-child{
              &:before{
                display: block;
              }
            }
          }
        }
        a.plus{
          top: 56px;
          left: 0px;
          right: auto;
          transform: none;
        }
      }
    }
    &.four {
      .controls{
        width: 100%;
        background-color: #fff;
        justify-content: space-between;
        .all a{
          padding-left: 55px;
        }
      }
      .slider .item .content{
        top: 12%;
        h2{
          line-height: 33px;
        }
      }
    }
    &.five{
      .content{
        height: 80%;
        padding: 0 40px;
        .left{
          h2{
            margin-top: 50px;
          }
        }
        .right p{
          line-height: 25px;
        }
      }
    }
    &.six{
      .content{
        top: 100px;
        width: ~"calc(100% - 20px)";
        margin: auto 10px;
        a.plus{
          width: 63px;
          white-space: normal;
          right: -5px;
        }
        .container{
          top: 60px;
          .slider{
            a.item{
              height: 200px;
              padding-top: 110px;
            }
          }
        }
      }
      .controls{
        height: 80px;
        width: 170px;
      }
    }
  }
}
@media(max-width:320px){
  .reach_header .content {
    h1{
      font-size: 32px;
    }
  }
  .header{
    .center{
      display: none;
    }
    .right{
        display: none;
    }
    .left{
      width: 100%;
      a.menu{
        margin-left: auto;
      }
    }
  }
}
