@media (max-width: 1500px) {
  .product_catalog .content {
    width: 85%;
  }
  .product_catalog .slider .item .content .row .col p {
    font-size: 20px;
  }
  .header .center {
    width: 768px;
  }
  .header .center .lang {
    margin-left: 80px;
  }
  .header .center .search {
    margin-left: 50px;
    width: 200px;
  }
}
@media (max-width: 1400px) {
  .header .right div {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .right div a:after {
    display: none;
  }
  .reach_header .content {
    width: 85%;
  }
  .reach_header ul {
    width: 85%;
  }
  .reach_header ul li:first-child {
    padding-left: 30px;
  }
  .reach_header ul li:last-child {
    padding-right: 30px;
  }
  .breadcrumbs .content {
    width: 85%;
  }
  .news_page .content {
    width: 85%;
  }
  .news_detail .content {
    width: 85%;
  }
  .reach .content {
    width: 80%;
  }
  .reach .content .section:first-child h1 {
    font-size: 300px;
  }
  .reach .content .section:first-child .row a.col {
    margin-right: 15px;
  }
  .reach .content .section:first-child .row a.col p {
    font-size: 14px;
  }
  .main_slider .block .item .section .content {
    width: 600px;
  }
  .main_slider .block .item .section.slider_one .slick-dots {
    margin-left: -300px;
  }
  .main_slider .block .item .section.slider_one .right_ar {
    margin-left: -139px;
  }
  .main_slider .block .item .section.slider_one .left_ar {
    margin-left: -189px;
  }
  .main_slider .block .item .section.slider_one p.num_o {
    margin-left: -300px;
  }
}
