@media (max-width: 1500px) {
  .header .center {
    width: 768px;
  }
  .header .center .lang {
    margin-left: 80px;
  }
  .header .center .search {
    margin-left: 50px;
    width: 200px;
  }
}
@media (max-width: 1400px) {
  .header .center {
    margin-left: 250px;
  }
  .header .center a.lang {
    margin: 0 20px;
  }
  .header .center a.search {
    width: 160px;
    margin: 0 20px;
  }
  .breadcrumbs .content {
    margin-left: 40px;
    width: auto;
  }
  .catalog .content {
    margin: 0 40px;
    width: auto;
  }
  .catalog .content .sidebar {
    min-width: 290px;
  }
  .catalog .content .main {
    flex-basis: auto;
  }
  .catalog .content .main .region label {
    padding-right: 15px;
  }
  .catalog_detail .content {
    margin: 0 40px;
    width: auto;
  }
}
@media (max-width: 1300px) {
  .header .center a.search {
    width: 30px;
    margin: 0 20px;
  }
  .header .center a.search input {
    display: none;
  }
  .footer {
    position: relative;
  }
  .footer .left {
    width: 70%;
  }
  .footer .left p.registr {
    width: auto;
    white-space: normal;
  }
  .footer .right {
    width: 650px;
    position: absolute;
    height: 60%;
    top: 33%;
    right: 50px;
  }
}
@media (max-width: 1200px) {
  .header .center {
    width: 350px;
  }
  .header .center a.catalog {
    width: 100px;
    text-align: center;
  }
  .catalog .content .main .items .item {
    min-height: 150px;
    height: auto;
  }
  .catalog .content .main .items .item h2 {
    font-size: 24px;
  }
  .catalog .content .main .items .item .data {
    width: 240px;
  }
  .catalog .content .main .items .item .data .form {
    width: 100px;
  }
  .catalog .content .main h2 {
    font-size: 34px;
  }
  .catalog_detail .content > .item h1 {
    font-size: 42px;
  }
  .catalog_detail .content .other_products h3 {
    font-size: 32px;
  }
  .catalog_detail .content .other_products .item h2 {
    font-size: 24px;
  }
  .catalog_detail .content .form {
    padding-left: 0;
    padding-right: 0;
  }
  .catalog_detail .content .form .row h2 {
    font-size: 32px;
  }
  .catalog_detail .content .form .bg-gray {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .header .center {
    width: 300px;
  }
  .header .center a.catalog {
    width: 70px;
    text-align: center;
  }
}
