@width_content_1024: 970px;
@media(max-width:1500px){
  .header{
    .center{
      width: 768px;
      .lang{
        margin-left: 80px;
      }
      .search{
        margin-left: 50px;
        width: 200px;
      }
      
    }
  } 
}
@media(max-width: 1400px){
  .header{
    .center{
      margin-left: 250px;
      a.lang{
        margin: 0 20px;
      }
      a.search{
        width: 160px;
        margin: 0 20px;
      }
    }
  }
  .breadcrumbs .content{
    margin-left: 40px;
    width: auto;
  }
  .catalog .content{
    margin:0 40px;
    width: auto;
    .sidebar{
      min-width: 290px;
    }
    .main{
      flex-basis: auto;
      .region label{
        padding-right: 15px;
      }
      
    }
  }
  .catalog_detail .content{
    margin: 0 40px;
    width: auto;
  }
}
@media(max-width: 1300px){
  .header{
    .center{
      a.search{
        width: 30px;
        margin: 0 20px;
        input{
          display: none;
        }
      }
    }
  }
  .footer{
    position: relative;
    .left{
      width: 70%;
      p.registr{
        width: auto;
        white-space: normal;
      }
    }
    .right{
      width: 650px;
      position: absolute;
      height: 60%;
      top: 33%;
      right: 50px;
    }
  }
}
@media(max-width: 1200px){
  .header{
    .center{
      width: 350px;
      a.catalog{
        width: 100px;
        text-align: center;
      }
    }
  }
  .catalog .content{
    .main {
      .items .item{
        min-height: 150px;
        height: auto;
        h2{
          font-size: 24px;
        }
        .data{
          width: 240px;
          .form{
            width: 100px;
          }
        }
      }
      h2{
        font-size: 34px;
      }
    }
  }
  .catalog_detail .content{
    >.item h1{
      font-size: 42px;
    }
    .other_products {
      h3{
        font-size: 32px;
      }
      .item h2{
        font-size: 24px;
      }
    }
    .form{
      .row{
        h2{
          font-size: 32px;
        }
      }
      padding-left: 0;
      padding-right: 0;
      .bg-gray{
        width: 80%;
      }
    }
  }
}
@media(max-width:1024px){
  .header{
    .center{
      width: 300px;
      a.catalog{
        width: 70px;
        text-align: center;
      }
    }
  }
}
