@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bk';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
* {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 6;
  left: 0;
}
.header p,
.header a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 56px;
}
.header .left {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
}
.header .left .logo {
  padding: 43px 34px 15px 25px;
  background: #f7f7f7;
}
.header .left .menu {
  padding: 0 10px 20px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  border: 1px solid #f0f0f0;
  background: white;
}
.header .left .menu:before,
.header .left .menu:after {
  content: '';
  transition: all 0.3s;
}
.header .left .menu span,
.header .left .menu:before,
.header .left .menu:after {
  display: block;
  position: relative;
  top: 0px;
  width: 39px;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
.header .left .menu:hover:before {
  top: -1px;
}
.header .left .menu:hover:after {
  top: 1px;
}
.header .center {
  width: 762px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
.header .center p {
  font: 500 16px/16px 'Roboto';
  padding-left: 25px;
  padding-right: 25px;
  background: white;
  border: 1px solid #cccccc;
  border-top: 0;
}
.header .center .lang {
  width: 20px;
  text-align: center;
  margin-left: 155px;
  border: 1px solid #cccccc;
  border-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  font: 500 13.1px/13.1px 'Roboto';
  color: white;
}
.header .center .lang.black {
  color: black;
}
.header .center .search {
  margin-left: 98px;
  width: 20px;
  padding: 0;
  margin-top: 55px;
}
.header .center .search svg {
  fill: white;
}
.header .right {
  display: flex;
  position: fixed;
  height: 90px;
  right: 0;
  top: 0;
}
.header .right .phone {
  font: 500 16px/16px 'Roboto';
  color: white;
}
.header .right .phone:after {
  content: '|';
  padding-left: 15px;
  font: 500 16px/16px 'Roboto';
  padding-right: 15px;
}
.header .right .sity {
  font: 500 15.7px/15.7px 'Roboto';
  color: white;
  margin-right: 20px;
}
.header .right .link-to {
  padding: 56px 36px 10px 13px;
  background-color: #00a0e3;
  font: 16px/16px 'Roboto';
  color: white;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.header .right .link-to:before {
  content: '';
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  height: 100%;
  width: 0px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.header .right .link-to:hover {
  border-color: #00a0e3;
  color: #00a0e3;
}
.header .right .link-to:hover:before {
  width: 100%;
}
.header.black .center .lang {
  color: black;
}
.header.black .center .search svg {
  fill: black;
}
.header.black .right .phone {
  color: black;
}
.header.black .right .sity {
  color: black;
}
.header.shadow {
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
.main_slider {
  width: 100%;
}
.main_slider .block .item {
  border: 0;
}
.main_slider .block .item .section {
  position: relative;
  overflow: hidden;
}
.main_slider .block .item .section .content {
  width: 762px;
  margin: auto;
  position: relative;
}
.main_slider .block .item .section .content a.plus {
  text-decoration: none;
  color: black;
  font: 14px/14px 'Roboto';
  position: absolute;
  top: 43%;
  left: -15%;
  text-transform: uppercase;
  padding-left: 70px;
}
.main_slider .block .item .section .content a.plus:before {
  content: '';
  display: block;
  width: 50px;
  left: 0;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  position: absolute;
  background: #00a0e3;
}
.main_slider .block .item .section .content a.plus:after {
  content: '';
  display: block;
  width: 1px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  position: absolute;
  left: 25px;
  background: #00a0e3;
}
.main_slider .block .item .section .sidebar {
  display: flex;
  width: max-content;
  position: absolute;
  left: 100%;
  top: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main_slider .block .item .section .sidebar .item {
  padding: 48px 0;
  border-bottom: 1px solid #a4abaf;
}
.main_slider .block .item .section .sidebar .item h2 {
  font: bold 28px/28px 'Roboto';
  white-space: none;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.main_slider .block .item .section .sidebar .item p {
  font: bold 18px/18px 'Roboto';
  color: white;
  margin: 0;
}
.main_slider .block .item .section .sidebar .item:first-child {
  padding-top: 0;
}
.main_slider .block .item .section .sidebar .item:last-child {
  border: 0;
}
.main_slider .block .item .section.slider_one .content {
  height: 364px;
}
.main_slider .block .item .section.slider_one .slide {
  border: 0;
  height: inherit;
  background-size: cover;
  background-position: bottom right;
  display: flex;
}
.main_slider .block .item .section.slider_one .slide img {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
}
.main_slider .block .item .section.slider_one .slide h1 {
  margin-top: 100px;
  font: bold 54px/54px 'Roboto';
  color: white;
  margin-bottom: 80px;
}
.main_slider .block .item .section.slider_one .slide a {
  padding: 15px 25px;
  font: bold 21px/21px 'Roboto';
  text-decoration: none;
  color: white;
  border: 1px solid white;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.main_slider .block .item .section.slider_one .slide a:before {
  content: '';
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  height: 100%;
  width: 0px;
  background-color: #00a0e3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main_slider .block .item .section.slider_one .slide a:hover:before {
  width: 100%;
}
.main_slider .block .item .section.slider_one .left_ar {
  position: absolute;
  top: 25.3%;
  left: 50%;
  margin-left: -275px;
  z-index: 1;
  cursor: pointer;
}
.main_slider .block .item .section.slider_one p.num_o {
  position: absolute;
  top: 23.4%;
  color: white;
  font: bold 18px 'Roboto';
  z-index: 1;
  margin-left: -383px;
  left: 50%;
}
.main_slider .block .item .section.slider_one p.num_o span {
  vertical-align: top;
  font-size: 70%;
}
.main_slider .block .item .section.slider_one .right_ar {
  position: absolute;
  top: 25.3%;
  left: 50%;
  margin-left: -225px;
  z-index: 1;
  cursor: pointer;
}
.main_slider .block .item .section.slider_one .slick-dots {
  height: 5px;
  width: 197.6px;
  display: flex;
  justify-content: space-between;
  top: 28.8%;
  left: 50%;
  margin-left: -381px;
}
.main_slider .block .item .section.slider_one .slick-dots li {
  flex-basis: 100%;
  height: 5px;
  margin: 0;
}
.main_slider .block .item .section.slider_one .slick-dots li button {
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 1px;
  background: white;
}
.main_slider .block .item .section.slider_one .slick-dots li button::before {
  display: none;
}
.main_slider .block .item .section.slider_one .slick-dots .slick-active button {
  height: 1px;
  background-color: #00a0e3;
}
.main_slider .block .item .section.two .content {
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main_slider .block .item .section.two .content .otrsl_slider {
  height: 100%;
  width: 100%;
}
.main_slider .block .item .section.two .content .otrsl_slider .item {
  height: 100%;
  width: 100%;
}
.main_slider .block .item .section.two .content .otrsl_slider .item img {
  position: absolute;
  height: 80%;
  top: 0;
  z-index: 0;
  min-width: 100%;
}
.main_slider .block .item .section.two .content .otrsl_slider .item span {
  position: absolute;
  bottom: 35px;
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
  margin-right: 350px;
  font: 16px/16px 'Roboto';
  color: white;
  background: #2f2f2f;
}
.main_slider .block .item .section.two .content h2 {
  position: absolute;
  top: 20%;
  left: -15%;
  font: bold 58px/58px 'Roboto';
  z-index: 1;
  margin: 0;
}
.main_slider .block .item .section.two .content ul {
  position: absolute;
  margin: 0;
  display: flex;
  z-index: 1;
  height: 100%;
  width: 320px;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
}
.main_slider .block .item .section.two .content ul li {
  flex-grow: 1;
  display: flex;
  padding-left: 25px;
  width: 295px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main_slider .block .item .section.two .content ul li a {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  width: 100%;
  text-decoration: none;
  align-items: center;
  font: bold 16px/16px 'Roboto';
  color: black;
}
.main_slider .block .item .section.two .content ul li a svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  transition: 0.3s;
  fill: black;
}
.main_slider .block .item .section.two .content ul li.active {
  background-color: rgba(0, 0, 0, 0.55);
  border: 0;
}
.main_slider .block .item .section.two .content ul li.active a {
  color: white;
}
.main_slider .block .item .section.two .content ul li.active a svg {
  fill: white;
}
.main_slider .block .item .section.two .content ul li:hover {
  background-color: #ffffffed;
}
.main_slider .block .item .section.three .content {
  position: absolute;
  top: 30%;
}
.main_slider .block .item .section.three .content h2 {
  position: absolute;
  font: bold 58px/58px 'Roboto';
  top: 0;
  left: 0;
  margin: 0;
}
.main_slider .block .item .section.three .content a.plus {
  top: 33px;
  left: auto;
  right: 27px;
  transform: translate(100%, 0);
  white-space: nowrap;
}
.main_slider .block .item .section.three .content .line {
  height: 5px;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  background-color: #2f2f2f;
}
.main_slider .block .item .section.three .content .fon {
  position: absolute;
  top: 152px;
  max-width: 90%;
  z-index: 0;
  right: 0;
}
.main_slider .block .item .section.three .content > p {
  position: relative;
  top: 180px;
  z-index: 1;
  font: bold 24px/32px 'Roboto';
}
.main_slider .block .item .section.three .content > p:before {
  content: url(../img/before.png);
  position: absolute;
  top: 6px;
  left: -30px;
  transform: translate(-100%, 0);
}
.main_slider .block .item .section.three .content h3 {
  text-transform: uppercase;
  font: bold 16px/16px 'Roboto';
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
}
.main_slider .block .item .section.three .content .row {
  margin-top: 235px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main_slider .block .item .section.three .content .row .col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main_slider .block .item .section.three .content .row .col img {
  height: 100px;
}
.main_slider .block .item .section.three .content .row .col p {
  margin: 0;
  font: bold 19px/19px 'Roboto';
  color: #00a0e3;
}
.main_slider .block .item .section.three .content .row .col:before {
  content: '';
  display: flex;
  position: absolute;
  bottom: -5px;
  right: -1px;
  height: 30px;
  width: 1px;
  background-color: #00a0e3;
}
.main_slider .block .item .section.three .content .row .col:last-child::before {
  content: none;
}
.main_slider .block .item .section.four .slider {
  height: inherit;
  width: inherit;
}
.main_slider .block .item .section.four .slider .item {
  height: inherit;
}
.main_slider .block .item .section.four .slider .item img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main_slider .block .item .section.four .slider .item .content {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_slider .block .item .section.four .slider .item .content h2 {
  font: bold 58px/58px 'Roboto';
  color: white;
}
.main_slider .block .item .section.four .slider .item .content p {
  font: 16px/24px 'Roboto';
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #2f2f2f;
}
.main_slider .block .item .section.four .controls {
  position: absolute;
  bottom: 0;
  display: flex;
  right: 0;
  height: 115px;
  width: 450px;
}
.main_slider .block .item .section.four .controls .all {
  width: 200px;
  padding-left: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #292929;
}
.main_slider .block .item .section.four .controls .all a {
  text-decoration: none;
  text-transform: uppercase;
  font: 14px 'Roboto';
  left: 75px;
  position: relative;
  color: white;
}
.main_slider .block .item .section.four .controls .all a:before {
  content: '';
  display: block;
  width: 50px;
  left: -75px;
  height: 1px;
  top: 50%;
  margin-top: -1px;
  position: absolute;
  background: white;
}
.main_slider .block .item .section.four .controls .all a:after {
  content: '';
  display: block;
  width: 1px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  position: absolute;
  left: -50px;
  background: white;
}
.main_slider .block .item .section.four .controls .arrows {
  width: 145px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: relative;
}
.main_slider .block .item .section.four .controls .arrows .left_f,
.main_slider .block .item .section.four .controls .arrows .right_f {
  cursor: pointer;
}
.main_slider .block .item .section.four .controls .arrows .num {
  font: bold 14px 'Roboto';
  border: 1px solid #d3d3d3;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  background: #fff;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_slider .block .item .section.four .controls .arrows:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
  background-color: #d3d3d3;
  transform: translate(-50%, 0);
  z-index: 0;
}
.main_slider .block .item .section.five {
  background-image: url(../img/sec_5_bg.png);
  background-size: cover;
  background-position: left top;
}
.main_slider .block .item .section.five .content {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 81%;
  background-color: white;
  padding-left: 85px;
  padding-right: 85px;
}
.main_slider .block .item .section.five .content .left {
  display: inline-block;
  width: 35.7%;
}
.main_slider .block .item .section.five .content .left h2 {
  margin-top: 90px;
  font: bold 58px 'Roboto';
  color: black;
}
.main_slider .block .item .section.five .content .right {
  display: inline-block;
  width: 53.5%;
  padding-left: 9%;
  position: relative;
  top: 10px;
}
.main_slider .block .item .section.five .content .right p {
  margin-top: 90px;
  color: #666666;
  font: 18px/32px 'Roboto';
}
.main_slider .block .item .section.five .content .right a {
  color: #00a0e3;
  font: 500 18px 'Roboto';
  text-decoration: none;
}
.main_slider .block .item .section.five .content .line {
  height: 5px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 90px;
}
.main_slider .block .item .section.five .content .row {
  display: flex;
  justify-content: space-between;
}
.main_slider .block .item .section.five .content .row .col {
  flex-basis: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_slider .block .item .section.five .content .row .col img {
  margin-bottom: 18px;
  width: 100%;
}
.main_slider .block .item .section.five .content .row .col p {
  font: bold 22px 'Roboto';
}
.main_slider .block .item .section.six .content {
  position: absolute;
  top: 22%;
  padding-left: 190px;
}
.main_slider .block .item .section.six .content h2 {
  position: absolute;
  font: bold 58px/58px 'Roboto';
  top: 0;
  left: 0;
  margin: 0;
}
.main_slider .block .item .section.six .content a.plus {
  top: 33px;
  left: auto;
  right: 27px;
  transform: translate(100%, 0);
  white-space: nowrap;
}
.main_slider .block .item .section.six .content .container {
  position: absolute;
  top: 125px;
  overflow: hidden;
}
.main_slider .block .item .section.six .content .container .slider .slick-list {
  overflow: visible;
}
.main_slider .block .item .section.six .content .container .slider .item {
  margin: 5px;
  width: 470px;
  height: 200px;
  border: 1px solid #878787;
  padding-top: 230px;
  position: relative;
  overflow: hidden;
}
.main_slider .block .item .section.six .content .container .slider .item .img span {
  top: 20px;
  right: 20px;
  font: bold 14px 'Roboto';
  color: white;
  text-transform: uppercase;
  position: absolute;
  padding: 5px 10px 5px 10px;
}
.main_slider .block .item .section.six .content .container .slider .item .img span.state {
  background-color: #009846;
}
.main_slider .block .item .section.six .content .container .slider .item .img span.news {
  background-color: #00a0e3;
}
.main_slider .block .item .section.six .content .container .slider .item .img .zagl {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_slider .block .item .section.six .content .container .slider .item .img .news_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
  min-width: 100%;
}
.main_slider .block .item .section.six .content .container .slider .item .img .news_img + .zagl {
  display: none;
}
.main_slider .block .item .section.six .content .container .slider .item p {
  margin-top: 10px;
  padding: 0 30px 0px 30px;
  font: bold 22px/23px 'Roboto';
}
.main_slider .block .item .section.six .content .container .slider .item p.date {
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  color: #00a0e3;
}
.main_slider .block .item .section.six .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.08);
}
.main_slider .block .item .section.six .controls img {
  cursor: pointer;
}
.main_slider .block .item .section.six .controls img:first-child {
  margin-right: 60px;
}
.main_slider .block .item .section.six .controls:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #d3d3d3;
}
.main_slider .block > .slick-dots {
  width: auto;
  height: 20px;
  transform: rotate(90deg);
  top: 50%;
  left: -156px;
}
.main_slider .block > .slick-dots li {
  height: 12px;
  widows: 12px;
  margin: 0 24px;
  transform: rotate(-90deg);
  position: relative;
}
.main_slider .block > .slick-dots li button {
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  height: 12px;
  width: 12px;
  padding: 0;
  background-color: #00a0e3;
  position: relative;
}
.main_slider .block > .slick-dots li button::before {
  content: '';
  display: block;
  height: 3px;
  opacity: 1;
  width: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main_slider .block > .slick-dots li:after {
  content: '';
  color: white;
  font: bold 13px/13px 'Roboto';
  position: absolute;
  top: 0;
  left: 23px;
  white-space: nowrap;
}
.main_slider .block > .slick-dots li:nth-child(1)::after {
  content: 'Главная';
}
.main_slider .block > .slick-dots li:nth-child(2)::after {
  content: 'Направления';
}
.main_slider .block > .slick-dots li:nth-child(3)::after {
  content: 'О компании';
}
.main_slider .block > .slick-dots li:nth-child(4)::after {
  content: 'Объекты';
}
.main_slider .block > .slick-dots li:nth-child(5)::after {
  content: 'Учебный центр';
}
.main_slider .block > .slick-dots li:nth-child(6)::after {
  content: 'Пресс центр';
}
.main_slider .block > .slick-dots .slick-active button {
  border: 1px solid white;
  background: #969595;
}
.main_slider .block > .slick-dots.black .slick-active button {
  background: white;
  border: 1px solid #969595;
}
.main_slider .block > .slick-dots.black .slick-active button::before {
  background-color: #969595;
}
.main_slider .block > .slick-dots.black li:after {
  color: black;
}
.main_slider + .footer {
  display: none;
}
.breadcrumbs {
  width: 100%;
  margin-top: 90px;
  height: 70px;
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #e8e8e83f;
}
.breadcrumbs .content {
  width: 1330px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.breadcrumbs .content a {
  font: 10px 'Roboto';
  text-decoration: none;
  text-transform: uppercase;
  color: #00b8db;
  display: flex;
  align-items: center;
}
.breadcrumbs .content a:after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  margin: 0 10px;
  margin-right: 5px;
  border: 5px solid transparent;
  border-left: 25px solid #e8e8e8;
  cursor: default;
}
.breadcrumbs .content p {
  font: 10px 'Roboto';
  color: #727272;
  text-transform: uppercase;
}
.breadcrumbs.white .content a {
  color: white;
}
.breadcrumbs.white .content p {
  color: white;
}
.product_catalog {
  padding: 30px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 80px;
  position: relative;
}
.product_catalog .content {
  width: 1330px;
  margin: auto;
}
.product_catalog .content h1 {
  margin-top: 0;
  font: bold 58px 'Roboto';
}
.product_catalog .content .slider .item {
  height: 584px;
}
.product_catalog .content .slider .item .row {
  display: flex;
  height: 133px;
  margin: 10px 0;
  overflow: hidden;
}
.product_catalog .content .slider .item .row .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  background-color: #ededed;
  overflow: hidden;
}
.product_catalog .content .slider .item .row .col p {
  font: 500 24px 'Roboto';
  margin: 0;
  padding: 0 10px 20px 20px;
}
.product_catalog .content .slider .item .row .col p.num {
  padding: 20px 0 0 20px;
  font: 25px 'Roboto';
  color: #adc9bf;
}
.product_catalog .content .slider .item .row .col img {
  position: relative;
  width: 100%;
  min-height: auto;
}
.product_catalog .content .slider .item .row .col.white {
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.product_catalog .content .slider .item .row .col.white .img {
  height: calc(100% - 2px);
  min-width: 87px;
  min-height: auto;
  border: 1px solid #adc9bf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.product_catalog .content .slider .item .row .col.white .img img {
  max-width: 30px;
  max-height: 30px;
}
.product_catalog .content .slider .item .row .col.white.col-80 img {
  min-height: auto;
}
.product_catalog .content .slider .item .row .col.white h3 {
  font: bold 32px 'Roboto';
  margin: 0;
  padding: 0;
  flex-basis: 27%;
}
.product_catalog .content .slider .item .row .col.white p.small {
  flex-basis: 63%;
  font: 14px/23px 'Roboto';
  color: #727272;
  margin: 0;
  padding: 0 30px;
}
.product_catalog .content .slider .item .row .col:last-child {
  margin-right: 0;
}
.product_catalog .content .slider .item .row .col.col-20 {
  flex-basis: 20%;
}
.product_catalog .content .slider .item .row .col.col-80 {
  flex-basis: 80%;
}
.product_catalog .content .slider .item .row .col.col-80 img {
  min-height: 100%;
}
.product_catalog .content .slider .item .row .col.col-50 {
  flex-basis: 50%;
}
.product_catalog .content .slider .item .row .col.col-30 {
  flex-basis: 30%;
}
.product_catalog .content .slider .item .row .col.empty {
  background-color: #fff;
}
.product_catalog ul.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border: 1px solid #e8e8e8;
  border-right: 0;
}
.product_catalog ul.sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}
.product_catalog ul.sidebar li svg {
  max-width: 30px;
  max-height: 30px;
  fill: black;
}
.product_catalog ul.sidebar li:last-child {
  border: 0;
}
.product_catalog ul.sidebar li.active {
  cursor: default;
}
.product_catalog ul.sidebar li.active svg {
  fill: #00a0e3;
}
.reach_header {
  background-image: url(../img/reach_header_bg.png);
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 383px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 4;
}
.reach_header .content {
  width: 1330px;
  margin: 0;
}
.reach_header .content h1 {
  font: bold 58px 'Roboto';
  color: white;
  margin: 0;
}
.reach_header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1330px;
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 60px;
}
.reach_header ul li a {
  border-bottom: 5px solid transparent;
  transition: border 0.3s;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 18px 'Roboto';
  color: white;
  text-decoration: none;
}
.reach_header ul li a:hover {
  border-bottom-color: #00a0e3;
}
.reach_header ul li:first-child {
  padding-left: 65px;
}
.reach_header ul li:last-child {
  padding-right: 65px;
}
.reach_header ul li.active a {
  border-color: #00a0e3;
}
.reach {
  padding-top: 222px;
  overflow: hidden;
}
.reach .content {
  width: 1150px;
  margin: auto;
}
.reach .content h1 {
  user-select: none;
  position: absolute;
  font: 900 368px 'Roboto';
  line-height: 256px;
  top: 50px;
  left: -15px;
  color: #2c353808;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  text-align: center;
}
.reach .content .section {
  position: relative;
  padding: 50px 0;
  width: 100%;
}
.reach .content .section h3 {
  font: 900 22px 'Roboto';
  color: black;
  width: 80%;
  margin: auto;
  padding-left: 20px;
  border-left: 5px solid #00a0e3;
  margin-top: 100px;
  margin-bottom: 100px;
}
.reach .content .section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.reach .content .section .row a.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 275px;
  text-decoration: none;
  margin-right: 20px;
  height: 169px;
  padding: 10px;
  border: 2px solid #f0f0f0;
}
.reach .content .section .row a.col:last-child {
  margin-right: 0;
}
.reach .content .section .row a.col p {
  font: 500 16px 'Roboto';
  margin: 0;
  color: black;
}
.reach .content .section .row a.col p.left {
  text-transform: uppercase;
  color: #f8174c;
}
.reach .content .section h2 {
  font: 900 38px 'Roboto';
  color: white;
}
.reach .content .section h4 {
  font: bold 22px 'Roboto';
  color: white;
}
.reach .content .section P {
  font: 16px/30px 'Roboto';
  color: white;
}
.reach .content .section P.bold {
  font: 500 18px/30px 'Roboto';
}
.reach .content .section P.link {
  font: 18px/30px 'Roboto';
}
.reach .content .section P.link a {
  color: #00a0e3;
  text-decoration: none;
}
.reach .content .section div.left {
  flex-basis: 35%;
}
.reach .content .section div.right {
  flex-basis: 65%;
}
.reach .content .section ul {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 35px 0;
}
.reach .content .section ul li {
  font: 500 18px 'Roboto';
  cursor: default;
  color: #2c3538;
  position: relative;
  margin-bottom: 70px;
}
.reach .content .section ul li:last-child {
  margin-bottom: 0px;
}
.reach .content .section ul li:before {
  transition: all 0.3s;
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: 16px;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 1;
}
.reach .content .section ul li:after {
  transition: all 0.3s;
  content: '';
  z-index: 2;
  display: block;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 4px solid #53b1d9;
  background-color: #96e0ff;
  transform: translate(-50%, -50%);
  left: -50px;
  top: 16px;
}
.reach .content .section ul li:hover:after {
  width: 40px;
  height: 40px;
  border-width: 1px;
  z-index: 1;
}
.reach .content .section ul li:hover:before {
  z-index: 2;
  width: 7px;
  height: 7px;
  border-width: 4px;
}
.reach .content .section ul:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  left: -50px;
  top: 0;
  background-color: #e5e5e5;
}
.reach .content .section:before,
.reach .content .section:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  background-color: inherit;
}
.reach .content .section:before {
  right: 100%;
}
.reach .content .section:after {
  left: 100%;
}
.reach .content .section.white {
  background-color: #fff;
  display: flex;
}
.reach .content .section.white h2 {
  color: #2c3538;
}
.reach .content .section.white h4 {
  color: #2c3538;
}
.reach .content .section.white p {
  color: #2c3538;
}
.reach .content .section.black {
  background-color: #2c3538;
  display: flex;
}
.reach .content .section.black h1 {
  color: #f7f7f708;
}
.reach .content .section.gray {
  background-color: #fafafa;
}
.reach .content .section.gray h2 {
  color: #2c3538;
}
.reach .content .section.gray h4 {
  color: #2c3538;
}
.reach .content .section.gray p {
  color: #2c3538;
}
.reach .content .section.blue {
  background-color: #00a0e3;
}
.reach .content .section.blue h1 {
  color: #ffffff18;
}
.reach .content .section.norow {
  display: block;
}
.reach .content .section + .section {
  display: flex;
}
.reach .content .section + .section h1 {
  width: auto;
  top: auto;
  font-size: 427px;
  bottom: -100px;
}
.reach.history .content .section img {
  max-width: 100%;
}
.reach.history .content .section h2 {
  color: #00a0e3;
  font: bold 72px 'Roboto';
  margin-top: 25px;
}
.reach.history .content .section ul:before {
  content: none;
}
.reach.history .content .section ul li p:before {
  content: '';
  display: block;
  border-radius: 0;
  left: -50px;
  width: 1px;
  border: 0;
  height: 100%;
  position: absolute;
  background-color: #d3d3d3;
  top: 10px;
  transform: translate(-50%, 0);
}
.reach.history .content .section ul li + li:before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 0;
  width: 1px;
  border: 0;
  height: 100%;
  background-color: #d3d3d3;
  top: 10px;
  transform: translate(-50%, -100%);
  z-index: 1;
}
.reach.history .content .section ul li + li:hover:after {
  height: 20px;
  width: 20px;
  border-width: 2px;
}
.reach.history .content .section ul li:last-child p:before {
  content: none;
}
.reach.vacancy {
  margin-bottom: 80px;
}
.reach.vacancy .section {
  display: flex;
  background-color: #00a0e3;
  justify-content: space-between;
  align-items: center;
}
.reach.vacancy .section p {
  flex-basis: 65%;
  font: bold 22px/30px 'Roboto';
  color: white;
}
.reach.vacancy .section a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  background-color: white;
  font: 500 16px 'Roboto';
  color: #2c3538;
  margin: 30px 0;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.reach.vacancy .section a:before {
  content: '';
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  height: 100%;
  width: 0px;
  background-color: #00a0e3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reach.vacancy .section a:hover {
  border-color: white;
  color: white;
}
.reach.vacancy .section a:hover:before {
  width: 100%;
}
.reach.vacancy h2 {
  font: bold 38px 'Roboto';
  color: #2c3538;
  margin-top: 80px;
}
.reach.vacancy .row {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  height: 80px;
  align-items: center;
  background-color: #fafafa;
  position: relative;
  cursor: pointer;
}
.reach.vacancy .row h4 {
  font: 500 20px 'Roboto';
  color: #2c3538;
  position: relative;
}
.reach.vacancy .row h4:before,
.reach.vacancy .row h4:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #00a0e3;
  top: 50%;
  left: -36px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.reach.vacancy .row h4:before {
  width: 40px;
  height: 1px;
}
.reach.vacancy .row h4:after {
  height: 40px;
  width: 1px;
}
.reach.vacancy .row p {
  font: 500 12px 'Roboto';
  color: #2c3538;
}
.reach.vacancy .row:before,
.reach.vacancy .row:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  background-color: inherit;
}
.reach.vacancy .row:before {
  right: 100%;
}
.reach.vacancy .row:after {
  left: 100%;
}
.reach.vacancy .row.active h4:after {
  height: 0;
}
.reach.vacancy .hide_vacancy {
  padding-left: 80px;
}
.reach.vacancy .hide_vacancy a.mess {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  background-color: #00a0e3;
  font: 500 16px 'Roboto';
  color: white;
  margin: 30px 0;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
.reach.vacancy .hide_vacancy a.mess:before {
  content: '';
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  height: 100%;
  width: 0px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reach.vacancy .hide_vacancy a.mess:hover {
  border-color: #00a0e3;
  color: #00a0e3;
}
.reach.vacancy .hide_vacancy a.mess:hover:before {
  width: 100%;
}
.reach.vacancy .hide_vacancy h5 {
  font: bold 18px 'Roboto';
  margin-top: 45px;
  margin-bottom: 20px;
  color: #2c3538;
}
.reach.vacancy .hide_vacancy ul {
  padding-left: 20px;
}
.reach.vacancy .hide_vacancy ul li {
  font: 16px/30px 'Roboto';
  color: #2c3538;
}
.footer {
  display: flex;
  background-color: #2a2a2a;
  position: relative;
  padding: 90px 40px 100px 40px;
}
.footer a {
  color: #808080;
  text-decoration: none;
}
.footer .left {
  display: inline-block;
  width: 45%;
}
.footer .left p {
  display: flex;
  align-items: center;
}
.footer .left p a.logo {
  margin-right: 50px;
}
.footer .left p a {
  font: 500 18px 'Roboto';
}
.footer .left p a.phone {
  padding-right: 20px;
}
.footer .left p a.phone:after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  color: #808080;
}
.footer .left p a.sity {
  margin-left: 15px;
}
.footer .left p.links {
  margin-bottom: 80px;
  margin-top: 35px;
}
.footer .left p.links a {
  font-weight: bold;
  color: #00a0e3;
  margin-right: 20px;
}
.footer .left p.company {
  font: 18px 'Roboto';
  color: white;
}
.footer .left p.registr {
  align-items: flex-end;
  white-space: nowrap;
  font: 500 13px 'Roboto';
  color: #808080;
}
.footer .left p.registr img {
  margin-right: 40px;
}
.footer .left p.registr span {
  margin-left: 4px;
  text-transform: uppercase;
  color: white;
}
.footer .left a.pp {
  font: 18px 'Roboto';
  color: #00a0e3;
  display: flex;
  margin-bottom: 50px;
}
.footer .right {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.footer .right ul {
  margin: 0;
  list-style: none;
}
.footer .right ul li {
  margin-bottom: 40px;
}
.footer .right ul li a {
  text-decoration: none;
  font: 500 16px 'Roboto';
  color: #808080;
}
.footer .copu {
  display: flex;
  position: absolute;
  bottom: 113px;
  right: 40px;
}
.footer .copu p {
  margin: 0;
  font: 16px 'Roboto';
  color: #808080;
}
.footer .copu a {
  text-decoration: none;
  margin-left: 3px;
  font: bold 16px 'Roboto';
  color: #00a0e3;
}
.over_line {
  width: 1px;
  background-color: #e8e8e8;
  opacity: 0.25;
  position: absolute;
  top: 0;
}
.over_line.one {
  left: 40px;
}
.over_line.five {
  margin-right: 10.5px;
}
.over_line.six {
  right: 40px;
}
